<div style="padding-top: 84px">
    <div class="card">
      <div class="card-header">
        Olá, seja bem vindo
      </div>
      <div class="card-body">
        <h5 class="card-title">EASE Seleção Top 40</h5>
        <% if (jogosFinalizados.length === 0 && jogosPendentes.length === 0) { %>
          <p class="card-text">Por favor, aguarde as instruções antes de iniciar o teste.</p>
          <form id="teslagameForm" action="/btgame/teslamodel" method="post">
            <button id="teslagameBtn" type="submit" class="btn btn-primary">TESLA GAME</button>
          </form>
        <% } %>
      </div>
    </div>
    <% if (jogosFinalizados) { %>
    <%- include('../seusTestes/testes-finalizados.html', { jogosFinalizados }); %>
    <% }
      if (jogosPendentes) { %>
    <%- include('../seusTestes/testes-pendentes.html', { jogosPendentes }); %>
    <% } %>
</div>
<script>
var teslagameForm = document.getElementById('teslagameForm')
teslagameForm.onsubmit = function() {
  var teslagameBtn = document.getElementById('teslagameBtn')
  teslagameBtn.textContent='Iniciando Teste...'
  teslagameBtn.disabled=true
}
  
</script>
