<div style="padding-top: 84px">
    <div class="card">
      <div class="card-header">
         <%= reqUser.role === 'admin' ? 'Administrador' : 'Alunos'%>
      </div>
      <div class="card-body">
          <h5 class="card-title">Editar <%= reqUser.nome %></h5>
          <form method="post" action="/admin/users/<%= reqUser._id %>/edit">
            <div class="form-group">
              <label for="matricula">Matrícula</label>
              <input type="text" class="form-control" name="matricula" id="matricula" value="<%= reqUser.matricula %>">
            </div>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" name="nome" id="nome" value="<%= reqUser.nome %>">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="role" id="role" <%= reqUser.role === 'admin' ? 'checked' : '' %> >
              <label class="form-check-label" for="role">Privilégios de administrador</label>
            </div>
            <a class="btn btn-secondary" href="/admin/<%= reqUser.role === 'admin' ? 'administradores' : 'alunos' %>">Cancelar</a>
            <button type="submit" class="btn btn-primary">Editar</button>
          </form>
      </div><!--card-body-->
    </div><!--card-->
  </div>
  