<div style="padding-top: 84px">
    <div class="card">
      <div class="card-header">
        Área de Administração
      </div>
      <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <div class="list-group">
            <a href="/admin/alunos" class="list-group-item list-group-item-action">Alunos</a>
            <a href="/admin/administradores" class="list-group-item list-group-item-action">Administradores</a>
          </div>
      </div><!--card-body-->
    </div><!--card-->
  </div>
  