<div style="padding-top: 84px">
    <div class="card">
      <div class="card-header">
        <%= pageTitle %>
      </div>
      <div class="card-body">
          <% if (message) { %>
            <%- message %>
          <% } %>
          <h5 class="card-title">Lista</h5>
          <%- include('modal/add.html') %>
          <div class="table-responsive-sm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Matrícula</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((user) => { %>
                <tr>
                  <td><%= user.matricula %></td>
                  <td><%= user.nome %></td>
                  <td>
                    <%- include('modal/view.html', { user }) %>
                    <a href="/admin/users/<%= user._id %>/edit"><i class="fas fa-edit"></i></a>
                    <%- include('modal/destroy.html', { user }) %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
      </div><!--card-body-->
    </div><!--card-->
  </div>
  