<a data-toggle="modal" data-target="#modalView<%= user._id %>" href="/admin/users/<%= user._id %>"><i class="fas fa-eye"></i></a>
<div class="modal fade" id="modalView<%= user._id %>" tabindex="-1" role="dialog" aria-labelledby="modalView<%= user._id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalView<%= user._id %>Label"><%= user.nome %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Matrícula: <%= user.matricula %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>