<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" role="navigation">
  <a class="navbar-brand" href="/">
      <img src="/favicon.ico" height="48px" alt="EASE BRASIL">
      <img src="/img/xpersocial.png" height="48px" alt="XPER SOCIAL">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= homepage ? 'active' : ''%>">
        <a class="nav-link" href="/">Página Inicial</a>
      </li>
      <!-- <li class="nav-item <%= btgame ? 'active' : ''%>">
        <a class="nav-link" href="/btgame">BT GAME</a>
      </li> -->
      <!-- <li class="nav-item <%= seusTestes ? 'active' : ''%>">
        <a class="nav-link" href="/seus-testes">Seus Testes</a>
      </li> -->
      <% if (user && user.role === 'admin') { %>
      <li class="nav-item <%= (!homepage && !btgame && !seusTestes) ? 'active' : ''%>">
        <a class="nav-link" href="/admin">Área de Administração</a>
      </li>
      <% } %>
    </ul>
    <ul class="navbar-nav mr-sm-2">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>