<div class="row h-100 justify-content-center align-items-center">
  <div class="col-sm-6 col-xs-10">
    <div class="card" style="background-color: rgba(250,250,250,0.95)!important">
      <div class="card-header text-center">
        Login
      </div>
      <div class="card-body">
        <% if (message) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <small><%- message %></small>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="matricula">Matrícula</label>
            <input type="text" class="form-control" name="matricula" id="matriculaInput">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" name="senha" id="senhaInput">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </form>
      </div><!--card-body-->
    </div><!--card-->
  </div><!--col-->
</div><!--row-->