<div style="padding-top: 84px">
  <div class="card">
    <div class="card-header">
      <%= game.nome %>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= game.estagioString %></h5>
        <small class="form-text text-muted">Nesta etapa <%= game.numCorrectAnswers %> <%= game.numCorrectAnswers === 1 ? 'item está correto' : 'itens estão corretos' %>.</small><br>
        <form method="post" action="/btgame/sendAnswer">
          <% game.respostas.forEach((resposta) => { %>
          <div class="form-group form-check">
            <input type="checkbox" name="respostas" onclick="handleClick(this)" class="form-check-input" value="<%= resposta.id %>" id="<%= resposta.id %>">
            <label class="form-check-label" for="<%= resposta.id %>"><%= resposta.resposta %></label>
          </div>
          <% }) %>
          <button type="reset" onclick="limparRespostas()" class="btn btn-warning">Limpar Respostas</button>
          <button id="proximo" disabled="disabled" type="submit" class="btn btn-primary">Próximo</button>
        </form>
    </div><!--card-body-->
  </div><!--card-->
</div>
<script type="text/javascript">
  var i = 0
  var respostas = {}
  var checkboxes = document.getElementsByName('respostas')
  var proximoBtn = document.getElementById('proximo')

  function disableCheckBoxes (disable) {
    for (var i = 0; i < checkboxes.length; i++) {
      var checkbox = checkboxes[i]
      if (!checkbox.checked) checkbox.disabled = disable
    }
    proximoBtn.disabled = !disable
  }

  function limparRespostas () {
    i = 0
    respostas = {}
    disableCheckBoxes(false)
  }

  function handleClick (cb) {
    i += cb.checked ? 1 : -1
    respostas[cb.id] = true
    if (i === <%= game.numCorrectAnswers %>) {
      disableCheckBoxes(true)
    } else {
      disableCheckBoxes(false)
    }
  }
  </script>
