<%- include('../include/nav.html', {
  homepage: false,
  btgame: true,
  seusTestes: false
}); %>

<div style="padding-top: 84px">
  <div class="card">
    <div class="card-header">
      Testes Disponíveis
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="/img/tesla.png" alt="Tesla">
            <div class="card-body">
              <h5 class="card-title">Tesla Model</h5>
              <p class="card-text">Tesla model descrição.</p>
              <a href="#" class="btn btn-primary">INICIAR</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="/img/maintenance.png" alt="Em construção">
            <div class="card-body">
              <h5 class="card-title">Em construção...</h5>
              <p class="card-text">-</p>
              <a href="#" class="btn btn-primary">INICIAR</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="/img/maintenance.png" alt="Em construção">
            <div class="card-body">
              <h5 class="card-title">Em construção...</h5>
              <p class="card-text">-</p>
              <a href="#" class="btn btn-primary">INICIAR</a>
            </div>
          </div>
        </div> -->
      </div><!--row-->
    </div><!--card-body-->
  </div><!--card-->
  <%- include('../seusTestes/testes-pendentes.html', { jogosPendentes }); %>
</div>
