<div style="padding-top: 84px">
  <div class="card">
    <div class="card-header">
      Testes Disponíveis
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-xl-4">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="/img/tesla.png" alt="Tesla">
            <div class="card-body text-center">
              <h5 class="card-title">Tesla Model</h5>
              <p class="card-text">Tesla Model Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla, felis in bibendum lacinia, dolor felis vestibulum enim, ac tincidunt enim massa vel metus. Mauris bibendum dolor nec enim bibendum luctus eu ac dolor. Sed sodales volutpat ante, eu sodales velit vulputate quis. Etiam ligula sapien, venenatis in orci vitae, fringilla scelerisque libero.</p>
              <form action="/btgame/teslamodel" method="post">
                <button type="submit" class="btn btn-primary">INICIAR</button>
              </form>
            </div>
          </div>
        </div>
      </div><!--row-->
    </div><!--card-body-->
  </div><!--card-->
  <%- include('../seusTestes/testes-pendentes.html', { jogosPendentes }); %>
</div>
