<div style="padding-top: 84px">
  <div class="card">
    <div class="card-header">
      <%= game.nome %>
    </div>
    <div class="card-body">
        <h5 class="card-title">Sua pontuação</h5>
        <div class="table-responsive-sm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">BT Model</th>
                <th scope="col">Acertos</th>
                <th scope="col">Erros</th>
                <th scope="col">%</th>
              </tr>
            </thead>
            <tbody>
              <% stages.forEach((stage) => { %>
              <tr>
                <td><%= game[stage].nome %></td>
                <td><%= game[stage].acertos %></td>
                <td><%= game[stage].erros %></td>
                <td><%= ((Number(game[stage].acertos) * 100) / (Number(game[stage].acertos) + Number(game[stage].erros))).toFixed(2) %>%</td>
              </tr>
              <% }) %>
              <tr>
                <td>Total</td>
                <td><%= game.acertos %></td>
                <td><%= game.erros %></td>
                <td><%= ((Number(game.acertos) * 100) / (Number(game.acertos) + Number(game.erros))).toFixed(2) %>%</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div><!--card-body-->
  </div><!--card-->
</div>
