<div class="card">
  <div class="card-header">
    Testes Finalizados
  </div>
  <div class="card-body">
  <%
  if (jogosFinalizados && jogosFinalizados.length > 0) {
    jogosFinalizados.forEach((game) => { %>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="/img/tesla.png" alt="Tesla">
            <div class="card-body text-center">
              <h5 class="card-title"><%= game.nome %></h5>
              <p class="card-text">Tesla model descrição.</p>
              <a href="#" class="btn btn-primary">RESULTADO</a>
            </div>
          </div>
        </div>
      </div><!--row-->
      <%
    })
  } else { %>
    <p>Nenhum teste realizado até o momento.</p>
  <% } %>
  </div><!--card-body-->
</div><!--card-->