<div class="card">
  <div class="card-header">
    Testes Pendentes
  </div>
  <div class="card-body">
  <%
  if (jogosPendentes && jogosPendentes.length > 0) {
    jogosPendentes.forEach((game, index) => {
      if (index % 3 === 0) { %>
        <div class="row">
      <% } %>
        <div class="col-md-4">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="/img/tesla.png" alt="Tesla">
            <div class="card-body text-center">
              <h5 class="card-title"><%= game.nome %></h5>
              <p class="card-text">Tesla model descrição.</p>
              <a href="#" class="btn btn-primary">RETOMAR</a>
            </div>
          </div>
        </div>
      <% if (index % 3 === 2 || index === jogosPendentes.length) { %>
      </div><!--row-->
      <% }
    })
  } else { %>
    <p>Nenhum teste pendente.</p>
  <% } %>
  </div><!--card-body-->
</div><!--card-->